#directories to ignroe
**/bin
iis
modulesbin/**
modules/**
.idea
Solutions/packages
obj
.vs

# Compiled source #
###################
*.com
*.class
*.o
*.so

#other files
Thumbs.db
*.bak
*.swp
*.suo
*.user
_ReSharper.
*.orig
